/* style.css */

body {
    background-image: url('background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    position: relative;
}

.background-container {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    opacity: 0.5;
    z-index: -1;
}

.icon-link-container {
    position: fixed;
    inset-block-start: 20px;
    inset-inline-end: 20px;
    z-index: 1;
}

header {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

section {
    margin: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-block-end: 10px;
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    margin-block-end: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    position: fixed;
    inset-block-end: 20px;
    inline-size: 100%;
    color: white;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}
