body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    max-inline-size: 800px;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden; /* Add overflow property to clear floated elements */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    inline-size: 100%;
    inset-block-end: 0;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

button {
    background-color: maroon;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Add styling for the right side images */
section img {
    float: inline-end;
    margin: 0 0 10px 10px;
    max-inline-size: 200px;
    max-block-size: 200px;
}
.background-container {
    background-image: url('background.jpeg'); /* Use the actual filename of your background image */
    background-size: cover;
    background-position: center;
    block-size: 100vh; /* Adjust as needed */
}

.icon-link-container {
    position: absolute;
    inset-block-start: 20px; /* Adjust as needed */
    inset-inline-start: 20px; /* Adjust as needed */
}

.icon-link-container img {
    inline-size: 50px; /* Adjust as needed */
    block-size: 50px; /* Adjust as needed */
}
